/* Theme */

main {
	background-image: url("back.jpeg");
	color: #FAFAFA;
	background-repeat: no-repeat;
	background-size: 100% ;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
